
# Editor / environment configs
.devcontainer/
.vscode/
.idea/


# don't upload data files


DATA/

DEMO/data
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# HTML figures
/iframe_figures/
NOTEBOOKS/iframe_figures
