# core
streamlit>=1.36,<2
pandas>=2.2,<3
numpy>=1.26
pyarrow>=14
plotly>=5.22,<6
matplotlib>=3.8
seaborn>=0.13

# geospatial via wheels (no GDAL/Fiona needed)
geopandas>=0.14,<1
pyogrio>=0.7,<1
shapely>=2.0,<3
pyproj>=3.6,<4

# optional but nice to have (safe even if unused)
fsspec>=2024.6.1
s3fs>=2024.6.1